.header{
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  .logo-container{
     height: 100px;
     width: 70px;
     padding: 25px;
     img{
       width: 50px;
       height: 50px;
     }
  }
  .profilePic{
    height: 100px;
     width: 70px;
     padding: 25px;
    img{
      border: 0px;
      border-radius: 100%;
      width: 30px;
      height: 30px;
    }
  }
  .options{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: black;
    border-top-left-radius: 25px;
    :any-link{
        text-decoration: none;
        color: white;
    }
    .option{
        padding: 10px 15px;
        cursor: pointer;
        background-color: black;
        color: white;
    }
   
    .option:hover{
        background-color: white;
        border-top-left-radius: 25px;
        color:black;
        padding: 25px;
    }
  }
  .cart{
     height: 100px;
     width: 70px;
     padding: 25px;
  }
}
