.login{
    padding: 20px;
    width: 35vw;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    .title{
        margin: 10px 0;
    }
    .buttons{
        display: flex;
        justify-content: space-between;
    }
   
}